:root {
  --jw-white: #ffffff;
  --jw-soft-white: #fafafa;
  --jw-gold: #C9A24D;
  --jw-gold-dark: #A8842A;
  --jw-text-dark: #1c1c1c;
  --jw-text-muted: #6f6f6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Arial;
  background: var(--jw-white);
  color: var(--jw-text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  padding:12px 24px;
  border-radius:30px;
  border:none;
  cursor:pointer;
  font-weight:600;
  margin:10px;
}

.primary{
  background:#B78425;
  color:#000;
}

.secondary{
  background:#112f66;
  color:#fff;
  border:1px solid rgba(183,132,37,.35);
}

.course-card{
  background:#0f2252;
  border:1px solid rgba(183,132,37,.35);
  border-radius:18px;
  padding:18px;
  width:340px;
}

.course-card:hover{
  transform:translateY(-4px);
  box-shadow:0 18px 35px rgba(0,0,0,.35);
}

.course-img{
  width:100%;
  height:120px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:10px;
}

.auth-box{
  max-width:420px;
  margin:80px auto;
  background:#0b1d48;
  border:1px solid rgba(183,132,37,.35);
  border-radius:20px;
  padding:28px;
}

.auth-box h2{
  color:#B78425;
  text-align:center;
}

.input{
  padding:12px 14px;
  border-radius:10px;
  border:1px solid rgba(183,132,37,.35);
  background:#0b1a44;
  color:white;
  width:100%;
  margin:6px 0 14px;
}

.calc-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
  margin-top:40px;
}

.calc-card{
  background:#0b1d48;
  border:1px solid rgba(183,132,37,.35);
  border-radius:22px;
  padding:28px;
  box-shadow:0 20px 40px rgba(0,0,0,.35);
}

.calc-card h3{
  color:#B78425;
}

.small{
  color:#c7b89a;
  margin-bottom:20px;
  font-size:14px;
}

.dash-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
  margin-top:40px;
}

.dash-card{
  background:#0b1d48;
  border:1px solid rgba(183,132,37,.35);
  border-radius:18px;
  padding:22px;
  box-shadow:0 20px 40px rgba(0,0,0,.35);
}

.dash-card h3{
  color:#B78425;
  margin-bottom:6px;
}

.dash-card h2{
  margin:6px 0 12px;
}

.details-box{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:25px;
  margin-top:25px;
}

.details-card{
  background:#0b1d48;
  border:1px solid rgba(183,132,37,.35);
  border-radius:18px;
  padding:20px;
}

.details-card h3{
  color:#B78425;
}

.details-box ul li{
  margin:6px 0;
}

@media (max-width: 900px) {
  section > div {
    grid-template-columns: 1fr !important;
  }

  h1 {
    font-size: 42px !important;
  }

  img {
    width: 180px !important;
    margin-top: 30px;
  }
}

/* Scroll Animation */
.section-box {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.9s ease;
}

.section-box.visible {
  opacity: 1;
  transform: translateY(0);
}
